@import "./../vars.scss";
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

.login {
	margin-top: 200px;
	text-align: center;
	font-family: 'Cinzel Decorative', cursive;
	font-size: 40px;
	color: #ffed00;
}

.game {
	margin: 40px auto;
	text-align: center;
	width: 1220px;
	//height: auto;
	background: $color1;

	::-webkit-scrollbar {
		width: 3px;
	  }
	  
	  ::-webkit-scrollbar-track {
		-webkit-box-shadow: 5px 5px 5px -5px $color3 inset;
		background-color: $color4;
		border-radius: 10px;
	  }
	  
	  ::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: $color3;
	  }

	.game-name {
		text-align: center;
		padding: 15px 0 0px;
		margin: 0;
		font-size: 30px;
		font-family: 'Cinzel Decorative', cursive;
		color: $color5;
	}

	.game-status {
		margin-top: 0;

		&.win {
			color: white;
		}

		&.fail {
			color: brown;
		}
	}

	.content {
		display: flex;
		//justify-content: space-between;
		padding: 10px;

		.column {
			width: 470px;
			padding-left: 10px;

			&.sec {
				width: 275px; //
			}

			&:last-child {
				width: 440px;
			}
		}
	}

	.title {
		background: $color2;
		border: 1px solid $color2;
		padding: 10px;
		margin: 0;
		color: $color5;
		font-size: 18px;
	}
	
	.panel {
		border: 1px solid $color2;
		border-top: 0;
		margin-bottom: 10px;
	}

	.btn {
		padding: 5px 15px;
		color: teal;
		font-size: 30px;
		font-family: 'Cinzel Decorative', cursive;
		background: transparent;
		border: none;
		//border: 1px solid teal;
		cursor: pointer;	
	}
}